<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}">

    <title>分类新增</title>
</head>
<body style="background-image: url('https://picsum.photos/id/1011/1920/2200');background-repeat:no-repeat ;background-attachment: fixed;">
<!--导航-->
<nav th:replace="admin/_fragment :: menu(2)"></nav>
<!--<nav class="ui   attached  inverted   segment m-padded-tb-lager ">
    <div class="ui  container">
        <div class="ui inverted  secondary menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" th:href="@{/admin/blogs}" class="item m-font-size "><i class="home icon "></i>博客</a>
            <a href="#" th:href="@{/admin/type}" class="item active m-font-size"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tag}" class="item m-font-size"><i class="tags icon"></i> 标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text ">
                        <img src="../../static/images/background.png" th:src="@{${session.user.getAvatar()}}" alt="" class="ui avatar image" style="width: 30px">
                        <span th:text="${session.user.username}"></span>
                    </div>
                    <i class="ui center aligned dropdown   icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-top-right">
        <i class="sidebar icon"></i>
    </a>
</nav>-->
<div class="ui attached pointing menu -color">
    <div class="ui  container" style="font-size: larger">

        <div class="ui segment basic background-color">
            <div class="ui   menu ">
                <a href="#" th:href="@{/admin/type}" class=" active item"><i class="list blue icon"></i>分类列表</a>
                <a href="#" th:href="@{/admin/type/input}" class="item"><i class="plus icon"></i>分类新增</a>
            </div>
        </div>

    </div>

</div>

<!--中间内容-->
<div class=" m-margin-top-lager">
    <div class="ui container">
        <form action="#" method="post" th:action="@{/admin/type/{id}/update(id=${type.id})}" th:object="${type}" class="ui form">
            <div class="ui segment">
                <div class=" ui basic field ">
                    <div class="ui basic left labeled input ">
                        <label class="ui green basic label ">名称</label>
                        <input type="text" name="name" placeholder="分类名称" th:value="*{name}" >
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">发布失败</div>
                <br>
                <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->

            <div class="ui right aligned container">
                <button type="button" class="ui yellow basic button" onclick="window.history.go(-1)">返回</button>
                <button class="ui basic blue submit  button" type="submit">发布</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer class="ui inverted vertical stackable segment m-padded-tb-lager">
    <div class="ui  center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../../static/images/wechat.png" class="ui rounded image" style="width: 110px">
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事{User story}</a>
                    <a href="#" class="item">用户故事{User story}</a>
                    <a href="#" class="item">用户故事{User story}</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：123456</a>
                    <a href="#" class="item">QQ: 123456</a>
                    <a href="#" class="item">微信: 123456</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p>This is my bolg</p>
            </div>
        </div>
        <div class="ui inverted section divider">

        </div>
        <p>Copyright@2021-2022 design by linxutao</p>

    </div>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script>


    $('.ui.dropdown').dropdown({})

    $('.ui.form').form({
        fields:{
            title:{
                identifier:'4545name',
                rules:'empty',
                prompt:'标题:请输入分类名称'
            }
        }
    })

    $('.message .close')
        .on('click',function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>