<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >

    <title>主页</title>
</head>
<body style="background-image: url('https://picsum.photos/id/1033/1920/1280');background-repeat:no-repeat ;background-attachment: fixed;" >
<!--导航-->

<nav th:replace="_fragments :: menu(6)"></nav>

<!--中间内容-->
<div class="  m-padded-tb-tb" id="p-container">
    <br>
    <br>
    <div class="ui container  ">
        <div class="ui  grid ">
            <!--左边博客列表-->
                <div class="background-color">
                    <!--头部内容-->
                    <br>
                    <div class="ui   segment ">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h2 class="ui blue header">面试题集</h2>
                            </div>
                            <div class=" right aligned column ">
                                <h3 class="ui blue header m-inline-block" th:text="'共'+${pageInfo.total}+'篇'">共7类</h3>
                            </div>
                        </div>
                    </div>
                    <!--中间内容-->
                    <div class="ui    segment " th:each="type:${pageInfo.list}">
                        <div class="ui padded  vertical segment m-padded-tb-lager " >
                            <div class="ui grid ">

                                    <h3 class="ui header" ><a  href="#" th:href="@{/question/{id}(id=${type.id})}" target="_blank" th:text="${type.f_type+'(点击查看详情)'}">Java基础知识</a></h3>
                                    <div class="m-text " th:each="questions:${type.getQuestions()}">
                                        <span th:text="${'1、'+questions.getF_question()}">1.JDK 和 JRE 有什么区别？</span>
                                        <br>
                                        <span th:text="${'答案:  '+questions.getF_answer()}"></span>答案：JDK包含JRE的一切，JDK包含了java程序运行以及开发所需要的东西，比如javac jar，jdb等开发所需要的东西，还包含，jre中的所有，比如JVM，java的各种类库，java程序运行所需要的工具
                                        JRE只包含java所运行的工具，如JVM，java的基本类库，java命令，以及一些基本组件。
                                        如果只是运行java程序，就只需用到jre,如果需要开发java程序，就需要用到jdk
                                        <br>
                                    </div>
                                </div>


                        </div>
                    </div>
                    <!--底部-->
                    <div class="ui bottom basic segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/face(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" class="ui blue basic button">上一页</a>
                            </div>
                            <div class=" right aligned column ">
                                <a href="#" th:href="@{/face(pageNum= ${pageInfo.hasNextPage}?${pageInfo.nextPage})}" class="ui  blue basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<!--底部-->

<footer th:replace="_fragments :: footer"></footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->

<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
-->
</body>
</html>